# Dependencies
node_modules/

# Build outputs
lib/
*.tsbuildinfo
packages/react-native-nitro-update/android/build
packages/react-native-nitro-update/android/.cxx
example/ios/build
example/android/build
example/android/app/build
example/ota-demo/*.jsbundle
example/ota-demo/*.zip

# IDE and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Env and logs
.env
.env.local
*.log
npm-debug.log*

# Metro
.metro-health-check*

# Testing
coverage/
.nyc_output/
